* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* 
 i noticed it in the default css being used 
*/
body {
  line-height: 1.5;
}

/*
 don't know whether it should be here, 
 or scoped in the header declaration
 */
strong {
  /* on figma, listed as ... color: #009966; */
  color: hsl(160deg, 100%, 30%);
}

/* 
 just to ensure about the (variable) spacing between left
 (aka: inline-start) and making it looking like centered
 */
.max-width-wrapper {
  max-width: 800px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* 
 header is defined ... because of that max-width-wrapper stuff
 being declared both for header & main ...
*/
header {
  .title {
    /* add padding at the bottom */
    margin-block-start: 24px;
  }
  .intro-chunk {
    /* 
     don't know, yet, how to express the width ... 
     used 22(r)em when testing <=> 22 X 16 = 352(px)
    */
    max-width: 352px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
  }
}

/* in the <main> element ... */
main {
  /* 
   1- same color is being used both for top border and 
      related card's bottom border
      on figma, listed as ... color: #999999;
   */
  --grey-border-color: hsl(0deg, 0%, 60%);

  /* 2- 
   the grey background and top border
   on figma, listed as ... color: #666666;
  */
  background-color: hsl(0deg, 0%, 40%);
  border-block-start: 8px solid var(--grey-border-color);

  /* 3- space the beginning and end of the card */
  padding-block-start: 32px;
  padding-block-end: 32px;

  .card {
    /* 1- 
      make sure to leave some space before displaying text
      and leave some space before the display of the indented
      heading
     */
    padding: 8px 16px;
    /* 2- 
       looks like a white background color with bottom
       border colored with same grey as card' top border
    */
    background-color: white;
    border-block-end: 8px solid var(--grey-border-color);
    /* 3- screen shots shows it stops flowing at (about) 40 chars... */
    max-width: 640px;

    /* the orange heading with 'funky' (left) margin */
    .indented-heading {
      /* 
       1- starts a bit on the left of the parent ...
          we have 16px padding ... and 8 px to start from ...
          ( 16 + 8 = 24 to go backward ...)

          h2 margin is reset'ed though ...
       */
      margin-inline-start: -24px;
      margin-inline-end: 0px;
      margin-block-start: 0px;
      margin-block-end: 0px;
      /* 2- don't go taking the whole width of parent */
      width: fit-content;
      /* 3- give more space so, as shown by the background ... */
      padding: 8px 24px;
      /* 4- fixes the font-size */
      font-size: 1.25rem;
      /* 5- 
         background and bottom border ...
         on figma, listed as ... color: #FFBF00;
         and color: #CC9900
       */
      background-color: hsl(45deg, 100%, 50%);
      border-block-end: 8px solid hsl(45deg, 100%, 40%);
    }
  }
}
